//! **************************************************************************
// Written by: Map P.20131013 on Wed May 25 13:39:47 2022
//! **************************************************************************

SCHEMATIC START;
COMP "led1" LOCATE = SITE "V19" LEVEL 1;
COMP "btn" LOCATE = SITE "T9" LEVEL 1;
SCHEMATIC END;

