//! **************************************************************************
// Written by: Map P.20131013 on Sun Jan 30 20:04:36 2022
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "W21" LEVEL 1;
COMP "SW" LOCATE = SITE "V8" LEVEL 1;
SCHEMATIC END;

